a {
    color: #4f4f4f;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.hdr__top {
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 99;
    font-size: 12px;
}

.hdr__phone {
    font-weight: 600;
    height: 54px;
}

.social-list {
    margin: 0 -5px;
    padding: 0;
    list-style: none;
}

.social-list li {
    font-size: 18px;
    line-height: 24px;
}

.social-list li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
}

.social-list li a img {
    width: 18px;
    height: 18px;
}

.navUser,
.social-list {
    height: 40px;
}

.navUser__link {
    padding: 0 10px;
}

.hdr--center {
    padding: 40px 0;
}

.input-search {
    border: #1070dc solid 3px;
    border-radius: 25px;
    width: 100%;
    background: #fff;
    height: 48px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.cart {
    font-size: 38px;
    line-height: 38px;
    position: relative;
    color: #333;
}

.cart__icon {
    width: 35px;
    height: 38px;
    vertical-align: middle;
}

.cart__count {
    line-height: 20px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    position: absolute;
    bottom: -3px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background: #1070dc;
    right: -10px;
    overflow: hidden;
}