

/* ----------- Product Item ----------------- */
@import url("../utils/productItem/productItem.css");

.delete-all{
    text-align: right;
    margin: 20px;
}
.delete-all input{
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0 15px;
}
.delete-all span{
    text-transform: uppercase;
    color: rgb(3, 165, 206);
    letter-spacing: 1.3px;
}
.delete-all button{
    border: 1px solid crimson;
    padding: 10px 25px;
    color: crimson;
    text-transform: uppercase;
}

/* ------------ Filters Menu ----------------- */
.quickSearch {
    z-index: 5;
    position: relative;
    width: 100%;
    color: #999;
    display: inline-block;
}

.quickSearch select, .quickSearch select option {
    width: 100%;
    background: #fff;
    height: 48px;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
}


/* -------------------- Load More --------------- */
.load_more{
    text-align: center;
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #555;
    text-transform: capitalize;
}