
.delete{
    position: absolute;
    top:0;
    right: 5px;
    color: crimson;
    font-weight: 900;
    cursor: pointer;
}
.total{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total h3{
    color: crimson;
}
.amount button {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 25px;
    transition: all .3s ease;
    z-index: 5;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.amount button:hover {
    background: #333;
    color: #fff;
}